{% extends 'home.html' %}
{% block title %}Identificarse{% endblock %}

{% block body %}
  <h2>Identificarse</h2>

  <form method="POST" action="../login/">
    {% csrf_token %}

    <p>
      <label for="uname">Usuario</label>
      <input type="text" name="uname" id="uname">
    </p>

    <p>
      <label for="pwd">Contraseña</label>
      <input type="text" name="pwd" id="pwd">
    </p>
    
    <p>
      <input type="submit" name="submit" value="Identificarse">
    </p>
  </form>
{% endblock %}