{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bestiarium</title>

  <link rel="stylesheet" href={% static "css/style.css" %}>
</head>
<body>
  <h1>Bestiarium</h1>

  <!-- If there are creatures -->
  {% if creatures|length > 0 %}
  <div class="flex">
    {% for c in creatures %}
      <div class="creature">
      {% with 'img/'|add:c.image as src %}
        <img src={% static src %} alt={{ c.name }}>
        <br>
        Peso: {{ c.weight }} 
      {% endwith %}
      </div>
    {% endfor %}
  </div>
  {% else %}
  <p>No hay criaturas</p>
  {% endif %}
  
  <a href="../add/">Añadir criatura</a>  
  
  <h2>Descripción general</h2>
  <p>{{ description }}</p>

  {% with copy="Myths &amp; Legends, Inc." %}
  <small>&copy; {{ copy }}</small>
  {% endwith %}
</body>
</html>